h1 {
  color:#ffffff;
  text-align: center;
    font-family: 'Playfair Display', serif;
}

p {
  text-align: justify;
  color:#ffffff;
  font-family: 'Shizuru', cursive;
}
body {
  background-color:black
    
}
